@import 'antd/dist/antd.dark.css';

/* @import 'antd/dist/antd.min.css'; */

@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap');

:root {
  --primary-color: whitesmoke ;
  --back-color: teal;
  /* --ant-primary-color: var(--primary-color); */
  
}
/* 




a {
  color: var(--primary-color);
}



a:hover {
  color: var(--primary-color);
  text-decoration:underline;
}


.ant-menu-inline .ant-menu-item:after {
  border-right: 3px solid var(--primary-color);
} */

.slick-arrow.slick-prev {
  font-size: 10px;
}

.ant-carousel .slick-prev::before {
    content: '<';
    display: block;
    position: relative;
    bottom: 20px;
    right: 3px;
    /* width: 100px; */
    font-size: 25px;
    color: gray;
    background-color: white;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
   
}
.slick-arrow.slick-next {
  font-size: 10px;
}

.ant-carousel .slick-next::before {
  content: '>';
  display: block;
  position: relative;
  right: 3px;
  bottom: 20px;
  /* width: 100px; */
  font-size: 25px;
  color: gray;
  background-color: white;
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.innerHome {
  margin: 0px 0px 50px 0px;
}

.innerHome h3 {
  margin: auto;
  text-align: center;
}

.ant-carousel .slick-slide img {
  margin: auto;
}

.ant-menu {
  background-image: linear-gradient(to bottom, black, var(--back-color))
}
.ant-menu-submenu:hover, .ant-menu-item-selected, .ant-menu-item-active svg {
  color: var(--back-color);
}

.ant-menu-item-active:hover, .ant-menu-item-selected a,  .ant-menu-item:hover, .ant-menu-item a:hover {
  color: var(--back-color);
}

.ant-menu-vertical .ant-menu-submenu-selected, .ant-menu-vertical .ant-menu-submenu-selected:hover   {
  color: var(--back-color);
}

.ant-menu li.ant-menu-item:hover {
  color: var(--back-color);
}

.ant-menu li.ant-menu-item-selected
{
  color: var(--back-color);
}

.ant-btn-primary {
  background-color:  var(--back-color)!important;
  border-color: var(--back-color)!important;
}

.ant-btn-primary:hover {
  background-color:  var(--back-color)!important;
  opacity: .5;
}

.ant-btn:hover {
  border-color: var(--back-color)!important;
  color: var(--back-color)!important;
}

.slick-dots li.slick-active button {
  background: var(--back-color)!important;
}

.slick-dots li button {
  background: var(--primary-color)!important;
}

.ant-carousel .slick-dots li {
      text-indent: 0px;
}

body {
  line-height: 1.6;
  overflow-x: hidden;
}

.App {
  text-align: left; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flexCenter {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  float: left;
  font-size: 30px;  
  font-family: 'Oleo Script Swash Caps', cursive;
  color: var(--back-color);
}

.logo a {
  color: var(--back-color);
}

.logo a:hover {
  opacity: 0.85;
}

@keyframes spin {
  from {
      transform:translateY(20%) rotate(0deg);
  }
  to {
      transform:translateY(20%) rotate(360deg);
  }
}

.logo svg {
  font-size: 1.9rem;  
  color: var(--back-color);
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate ;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  height: 48px;  
}

.footer {
  text-align: center;
  margin: 0px;
  padding: 10px;
  font-family: 'Oleo Script Swash Caps', cursive; 
  font-size: 18px;   
  color: var(--back-color)!important; 
}

.innerLayout {
  margin-top: 64px;
}

.headerUtil {
  float: right;
}

.headerUtil svg {
  color: var(--back-color);
  margin: 0 5px 0 0;
  font-size: 20px;
}

.main {
  background: #333;
  margin: 0 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: left;
  overflow-y: auto;
}

.titleHolder {
  text-align: center;
}

.titleHolder h2 {
  color: var(--back-color);
}

.floater {
	position:absolute;
	top:150px;
	right:20px;
	color:#fff;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #999;
  border-width: 0px;
}

.floater .ant-btn {
	width:40px;
	height:40px;
	border-radius:inherit;
  background: var(--back-color);
}

.floater .ant-btn:hover {
	width:40px;
	height:40px;
	border-radius:inherit;
  background: black;
}

.floater svg{
  font-size: 30px;
  color: var(--primary-color);
  margin: 0px 0 0px -10px;
}

/* borrowed */

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* --- block --- */
.block {
  padding: 60px 0;
  border-bottom: 1px solid var(--back-color);
}

/* --- services --- */

.servicesBlock .contentHolder {
  text-align: justify;
  margin: 0 0 50px;
}

.servicesBlock .icon {
  font-size: 40px;
  color: var(--primary-color);
  margin: 0 0 10px;
}

.servicesBlock .content {
  text-align: center;
  margin: 0px;
  background-color: #181818;
	box-shadow: 2px 2px 3px #999;
  border-radius: 20px;
}

.servicesBlock .content h2 {
  color: var(--back-color);
}

.servicesBlock .innerContent {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  border: 1px solid var(--back-color);
  margin: 0px;
  background-color: #333;
  height: 100px;
  width: 300px;
  margin: 0px 0px 50px 0px;
  user-select: none;
}

.servicesBlock .innerContent .innerImage {
  display: flex;
  width: 80px;
  background: var(--back-color);
  align-items:center;
  justify-content: center;
}

.servicesBlock .innerContent .innerText {
  text-overflow: scroll; 
  overflow-y: auto;
}

.servicesBlock .innerContent h1 {
  color: var(--back-color);
}

.servicesBlock .innerContent svg {
  font-size: 44px;  
}