[data-theme='light'] {
  --primary-color: teal;
  /* --back-color: #165996;  */
  /* --back1-color: #177ddc;        #177ddc */
  /* --back2-color: #165996;        #165996 */
  /* --back3-color: #388ed3;        #388ed3 */
  /* --back4-color: #095cb5;  #095cb5 */
  /* --back5-color: #3c9be8;        #3c9be8; */

  --layout-color: #c5c9d1;
  --main-color: white;
  --text-color: rgba(0, 0, 0, 0.85);
  --subtitle-color: rgba(0, 0, 0, 0.45);
  --content-color: lightgrey;
  --posts-color: Silver;
  --menu-color: white;
  --input-color: white;
}

:root {
  --theme-color: teal;
  --header-color: #001529;
  /* #1f1f1f*/

  --primary-color: whitesmoke;
  --back-color: teal;
  --back1-color: teal;
  /* #177ddc */
  --back2-color: teal;
  /* #165996 */
  --back3-color: teal;
  /* #388ed3*/
  --back4-color: whitesmoke;
  /* #095cb5*/
  --back5-color: teal;
  /* #3c9be8;*/

  --layout-color: black;
  --main-color: #333;
  --text-color: rgba(255, 255, 255, 0.85);
  --subtitle-color: rgba(255, 255, 255, 0.45);
  --content-color: #252525;
  --posts-color: #292929;

  --menu-color: #1f1f1f;
  --dialog-color: #1f1f1f;
  --input-color: transparent;
  --menuselect-color: rgba(255, 255, 255, 0.51);
  --menufade-color: rgba(255, 255, 255, 0.31);
}

@import 'antd.css';

/* @import 'antd/dist/antd.css'; */

@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

.slick-arrow.slick-prev {
  font-size: 10px;
}

.ant-carousel .slick-prev::before {
  content: '<';
  display: block;
  position: relative;
  bottom: 20px;
  right: 3px;
  /* width: 100px; */
  font-size: 25px;
  color: gray;
  background-color: white;
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.slick-arrow.slick-next {
  font-size: 10px;
}

.ant-carousel .slick-next::before {
  content: '>';
  display: block;
  position: relative;
  right: 3px;
  bottom: 20px;
  /* width: 100px; */
  font-size: 25px;
  color: gray;
  background-color: white;
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.ant-carousel .slick-slide img {
  margin: auto;
}

.ant-menu {
  background-image: linear-gradient(to bottom, var(--header-color), var(--theme-color))
}

/* for use with home page cats*/
.ant-carousel .slick-dots li {
  text-indent: 0px;
}

body {
  line-height: 1.6;
  overflow-x: hidden;
}

.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  height: 48px;
}

.page-footer {
  text-align: center;
  margin: 0px;
  padding: 10px;
  font-family: 'Teko', sans-serif;
  font-size: 22px;
  color: var(--back-color) !important;
}

.page-main {
  flex-grow: 1;
  justify-content: flex-start;
  margin-top: 64px;
  overflow-y: auto;
}

.flexCenter {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  float: left;
  font-size: 30px;
  font-family: 'Teko', sans-serif;
  color: var(--theme-color);
}

.logo a {
  color: var(--theme-color);
  transition: 0.5s;
}

.logo a:hover {
  opacity: 0.8;
}

.logo svg {
  font-size: 1.9rem;
  color: var(--theme-color);
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes spin {
  from {
    transform: translateY(20%) rotate(0deg);
  }

  to {
    transform: translateY(20%) rotate(360deg);
  }
}

.headerUtil {
  float: right;
}

.headerUtil svg {
  color: var(--theme-color);
  margin: 0 5px 0 0;
  font-size: 20px;
}

.main {
  background: var(--main-color);
  margin: 0 0 16px 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: left;
  overflow-y: auto;
}

.titleHolder h2 {
  color: var(--back-color);
}

.floater {
  position: absolute;
  top: 66px;
  right: 20px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 64%), 0 3px 6px 0 rgb(0 0 0 / 48%), 0 5px 12px 4px rgb(0 0 0 / 36%);
  border-width: 0;
}

.floater .ant-btn {
  width: 40px;
  height: 40px;
  border-radius: inherit;
  background: var(--theme-color);
}

.floater .ant-btn:hover {
  width: 40px;
  height: 40px;
  border-radius: inherit;
  background: black;
  opacity: 0.5;
  ;
}

.floater svg {
  font-size: 30px;
  color: white;
  margin: 0px 0 0px -10px;
}

/* --- block --- */
.block {
  padding: 10px 0;
  border-bottom: 1px solid var(--back-color);
}

/* --- services --- */

.ServicesPage {
  height: 100%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: stretch;
}

.ServicesPage .contentHolder {
  text-align: justify;
  margin: 0 0 50px;
}

.ServicesPage .icon {
  font-size: 40px;
  color: var(--primary-color);
  margin: 0 0 10px;
}

.ServicesPage .content {
  text-align: center;
  margin-bottom: 10px;
  background-color: var(--content-color);
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 64%), 0 3px 6px 0 rgb(0 0 0 / 48%), 0 5px 12px 4px rgb(0 0 0 / 36%);
  /* border-radius: 20px; */
}

.ServicesPage .posts {
  height: 100%;
  display: flex;
  flex-direction: column;

  text-align: center;
  flex-grow: 1;
  align-items: stretch;
}

.ServicesPage h2 {
  color: var(--back-color);
  margin: 0;
}

.ServicesPage .innerContent {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  border: 1px solid var(--back-color);
  margin: 0px;
  background-color: var(--main-color);
  height: 100px;
  width: 300px;
  /* margin: 0px 0px 30px 0px; */
  user-select: none;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 64%), 0 3px 6px 0 rgb(0 0 0 / 48%), 0 5px 12px 4px rgb(0 0 0 / 36%);
}

.posts .innerContent {
  height: 125px !important;
  flex-grow: 1;
}

/* for the services page center carousel */
.slick-active {
  padding: 20px 0;
}

.slick-slide:not(.slick-center) .ant-btn {
  display: none;
}

.slick-center {
  transform: scale(1.15)
}

.slick-slide:not(.slick-active) {
  margin: 20px 0;
}

.ServicesPage .innerContent .innerImage {
  display: flex;
  width: 80px;
  background: var(--back-color);
  align-items: center;
  justify-content: center;
}

.ServicesPage .innerContent .innerText {
  text-overflow: scroll;
  overflow-y: auto;
}

.ServicesPage .innerContent h1 {
  color: var(--back-color);
}

.ServicesPage .innerContent svg {
  font-size: 44px;
}

.ServicesPage .servicesSlider {
  margin: 0 auto;
  width: 300px;
}

/* --- testPage --- */

.TestPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainTest {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.contentor {
  text-align: left;
  margin: 0px;
  padding: 20px;
  width: 30%;
  background-color: var(--content-color);
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 64%), 0 3px 6px 0 rgb(0 0 0 / 48%), 0 5px 12px 4px rgb(0 0 0 / 36%);
  /* border-radius: 20px; */
}

/* jsonparser */

.json-parser {
  text-align: left;
  display: block;
  font-size: 0.9em;
  line-height: 1.3;
  font-weight: 700;
  font-family: Menlo, monospace;
  border-style: solid;
  border-width: thin;
  background-color: var(--input-color);
  color: var(--text-color);
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 0 0 0 6px;
}

.json-block {
  /* border-style: solid; */
  border-width: thin;
  border-right: none;
  padding-left: 20px;
  transition: opacity 0.2s ease-in;

  /* look at transition: transform 0.26s ease; */
  overflow: hidden;
}

.json-line {
  display: block;
}

.json-maintext {
  cursor: default;
}

.json-drop {
  user-select: none;
}

.json-title {
  color: var(--theme-color);
}

.json-string {
  color: red;
}

.json-number,
.json-boolean {
  color: blue;
}

.json-type {
  font-style: italic;
}

/* About Page */
.AboutPage {
  display: flex;
  height: 100%;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
}

.AppCanvas {
  width: 100%;
  height: 700px;
  background-color: black;
}

/* Home Page */

.HomePage {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: red url(../public/scene.jpg) no-repeat center / cover;
}

.innerHome {
  margin: 0px 0px 50px 0px;
}

.innerHome h3 {
  margin: auto;
  text-align: center;
}

.homeAnnounce {
  text-align: center;
  max-width: 36rem;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--content-color);
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 64%), 0 3px 6px 0 rgb(0 0 0 / 48%), 0 5px 12px 4px rgb(0 0 0 / 36%);
}

.homeAnnounce h1 {
  font-size: 4.5rem;
}

.homeAnnounce p {
  font-size: 1.4rem;
}