[data-theme='light'] {
  --primary-color: teal ;
  /* --back-color: #165996;  */
  /* --back1-color: #177ddc;        #177ddc */
  /* --back2-color: #165996;        #165996 */
  /* --back3-color: #388ed3;        #388ed3 */
  /* --back4-color: #095cb5;  #095cb5 */
  /* --back5-color: #3c9be8;        #3c9be8; */

  --layout-color: #c5c9d1;
  --main-color: white;
  --text-color:  rgba(0, 0, 0, 0.85);
  --subtitle-color:   rgba(0,0,0, 0.45);  
  --content-color: lightgrey; 

  --menu-color: white;  
  --input-color: white;
}

:root{
  --theme-color: teal; 
  --header-color: #001529;    /* #1f1f1f*/
  
  --primary-color: whitesmoke ;
  --back-color: teal; 
  --back1-color: teal;        /* #177ddc */
  --back2-color: teal;        /* #165996 */
  --back3-color: teal;        /* #388ed3*/
  --back4-color: whitesmoke;  /* #095cb5*/
  --back5-color: teal;        /* #3c9be8;*/

  --layout-color: black;
  --main-color: #333;  
  --text-color:  rgba(255,255,255, 0.85);
  --subtitle-color:   rgba(255,255,255, 0.45);
  --content-color: #181818; 
  --menu-color: #1f1f1f;  
  --dialog-color: #1f1f1f;
  --input-color: transparent;
  --menuselect-color: rgba(255,255,255, 0.51);
  --menufade-color: rgba(255,255,255, 0.31);
}

@import 'antd.css';

/* @import 'antd/dist/antd.css'; */

@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&display=swap');

.slick-arrow.slick-prev {
  font-size: 10px;
}

.ant-carousel .slick-prev::before {
    content: '<';
    display: block;
    position: relative;
    bottom: 20px;
    right: 3px;
    /* width: 100px; */
    font-size: 25px;
    color: gray;
    background-color: white;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
   
}
.slick-arrow.slick-next {
  font-size: 10px;
}

.ant-carousel .slick-next::before {
  content: '>';
  display: block;
  position: relative;
  right: 3px;
  bottom: 20px;
  /* width: 100px; */
  font-size: 25px;
  color: gray;
  background-color: white;
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.innerHome {
  margin: 0px 0px 50px 0px;
}

.innerHome h3 {
  margin: auto;
  text-align: center;
}

.ant-carousel .slick-slide img {
  margin: auto;
}

.ant-menu {
  background-image: linear-gradient(to bottom, var(--header-color), var(--theme-color))
}

/* for use with home page cats*/
.ant-carousel .slick-dots li {
  text-indent: 0px;
}

body {
  line-height: 1.6;
  overflow-x: hidden;
}

.App {
  text-align: left; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flexCenter {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  float: left;
  font-size: 30px;  
  font-family: 'Oleo Script Swash Caps', cursive;
  color: var(--theme-color);
}

.logo a {
  color: var(--theme-color);
  transition: 0.5s;
}

.logo a:hover {
  opacity: 0.8;
}

.logo svg {
  font-size: 1.9rem;  
  color: var(--theme-color);
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate ;
}

@keyframes spin {
  from {
      transform:translateY(20%) rotate(0deg);
  }
  to {
      transform:translateY(20%) rotate(360deg);
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  height: 48px;  
}

.footer {
  text-align: center;
  margin: 0px;
  padding: 10px;
  font-family: 'Oleo Script Swash Caps', cursive; 
  font-size: 18px;   
  color: var(--back-color)!important; 
}

.innerLayout {
  margin-top: 64px;
}

.headerUtil {
  float: right;
}

.headerUtil svg {
  color: var(--theme-color);
  margin: 0 5px 0 0;
  font-size: 20px;
}

.main {
  background: var(--main-color);
  margin: 0 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: left;
  overflow-y: auto;
}

.titleHolder {
  text-align: center;
}

.titleHolder h2 {
  color: var(--back-color);
}

.floater {
	position:absolute;
	top:150px;
	right:20px;
	color:#fff;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #999;
  border-width: 0px;
}

.floater .ant-btn {
	width:40px;
	height:40px;
	border-radius:inherit;
  background: var(--theme-color);
}

.floater .ant-btn:hover {
	width:40px;
	height:40px;
	border-radius:inherit;
  background: black;
}

.floater svg{
  font-size: 30px;
  color: white;
  margin: 0px 0 0px -10px;
}

/* borrowed */

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* --- block --- */
.block {
  padding: 60px 0;
  border-bottom: 1px solid var(--back-color);
}

/* --- services --- */

.servicesBlock .contentHolder {
  text-align: justify;
  margin: 0 0 50px;
}

.servicesBlock .icon {
  font-size: 40px;
  color: var(--primary-color);
  margin: 0 0 10px;
}

.servicesBlock .content {
  text-align: center;
  margin: 0px;
  background-color: var(--content-color);
	box-shadow: 2px 2px 3px #999;
  border-radius: 20px;
}

.servicesBlock .content h2 {
  color: var(--back-color);
}

.servicesBlock .innerContent {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  border: 1px solid var(--back-color);
  margin: 0px;
  background-color: var(--main-color);
  height: 100px;
  width: 300px;
  margin: 0px 0px 50px 0px;
  user-select: none;
}

.servicesBlock .innerContent .innerImage {
  display: flex;
  width: 80px;
  background: var(--back-color);
  align-items:center;
  justify-content: center;
}

.servicesBlock .innerContent .innerText {
  text-overflow: scroll; 
  overflow-y: auto;
}

.servicesBlock .innerContent h1 {
  color: var(--back-color);
}

.servicesBlock .innerContent svg {
  font-size: 44px;  
}

/* --- testPage --- */

.mainTest {
  /* height: 100%; */
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.contentor {
  text-align: left;
  margin: 0px;
  padding: 20px;
  width: 30%;
  background-color: var(--content-color);
	box-shadow: 2px 2px 3px #999;
  border-radius: 20px;
}
  /* jsonparser */

  .json-parser {
    font-size: small;
    text-align: left;
    display: block;
    font-size: 0.9em;
    line-height: 1.3;
    font-weight: 700;
    font-family: Menlo, monospace;
    color: #222;
    border-style: solid;
    border-width: thin;
    background-color: var(--input-color);
    color: var(--text-color);
    min-height: 300px;
    max-height: 300px;
    overflow:scroll;
   }

   .json-line {
    display: inline-block;
   }
 
  .json-maintext {
    display:inline-block;
    cursor:default;
  }

  .json-drop
  {
    display:inline-block;
    user-select: none;
  }

  .json-title {
    color: purple;
  }
  
  .json-string {
    color: red;
  }

  .json-number, .json-boolean {
    color: blue;
  }

  .json-type {
    font-style: italic;
  }
  
