/* @import 'antd/dist/antd.dark.css'; */

@import 'antd/dist/antd.min.css';

body {
  line-height: 1.6;
  overflow-x: hidden;
}

.App {
  text-align: left; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flexCenter {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  float: left;
  font-size: 25px;  
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  height: 48px;  
}

.footer {
  text-align: center;
  margin: 10px;
}

.innerLayout {
  margin-top: 64px;
}

.headerUtil {
  float: right;
}

.headerUtil svg {
  color: #1890ff;
  margin: 0 5px 0 0;
  font-size: 20px;
}

.main {
  background: lightgray;
  margin: 0 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: left;
  overflow-y: auto;
}

.floater {
	position:absolute;
	top:150px;
	right:20px;
	color:#fff;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #999;
  border-width: 0px;
}

.floater .ant-btn {
	width:40px;
	height:40px;
	border-radius:inherit;
}

.floater svg{
  font-size: 30px;
  margin: 0px 0 0px -10px;
}

/* borrowed */

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* --- block --- */
.block {
  padding: 60px 0;
  border-bottom: 1px solid #d9d9d9;
}

/* --- services --- */

.servicesBlock .contentHolder {
  text-align: justify;
  margin: 0 0 50px;
}

.servicesBlock .icon {
  font-size: 40px;
  color: #1890ff;
  margin: 0 0 10px;
}

.servicesBlock .content {
  text-align: center;
  border: 1px solid black;
}