@import 'antd/dist/antd.min.css';

body {
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.ant-layout {
  background: darkgray;
}


.App {
  text-align: left; 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.flexCenter {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo {
  float: left;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  background: #111d2c;
  height: 48px;  
}

.footer {
  text-align: center;
  background: #111d2c; 
  margin: 10px;
  color: whitesmoke;
  
}

.innerLayout {
  margin-top: 64px;
}

.headerUtil {
  float: right;
}

.headerUtil svg {
  color: #1890ff;
  margin: 0 5px 0 0;
  font-size: 20px;
}

.main {
  background: lightgray;
  margin: 0 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: left;
  overflow-y: auto;
}